.well
  %h1 Nieuwe berichten

.table-container
  %table.table
    %thead
      %tr
        %th Afzender
        %th Bericht
        %th{colspan: 2}

    %tbody
      - if @new_messages.present?
        - @new_messages.each do |inquiry|
          %tr
            %td
              %p 
                %strong= inquiry.name
                = "<#{inquiry.email}>"
            %td
              %p= inquiry.message
            %td 
              %small=l inquiry.created_at, format: '%e %B %Y %H:%M'
            %td= link_to "Bericht markeren als gelezen", mark_as_read_admin_inquiry_path(inquiry), method: :put, class: 'button button-link button-primary', data: {icon: 'k'}
      - else
        %tr
          %td.align-center{colspan: 3}
            %em Je hebt geen nieuwe berichten ontvangen.
