.well
  %h1= @inquiry.summary

.table-container.table-form
  %table.table
    %tr
      %td
        %label Naam
      %td= @inquiry.name
    %tr
      %td
        %label Email
      %td= @inquiry.email
    %tr
      %td
        %label Telefoon
      %td= @inquiry.phone
    %tr
      %td
        %label Inhoud
      %td= simple_format @inquiry.message

.actions
  
  = link_to "Verwijderen", admin_inquiry_path(@inquiry), method: :delete, class: 'button button-danger button-link', confirm: "Weet je zeker dat je het bericht van <strong>#{@inquiry.name}</strong> definitief wilt verwijderen?"
  - unless @inquiry.archived
    = link_to "Bericht markeren als gelezen", mark_as_read_admin_inquiry_path(@inquiry), method: :put, method: :put, class: 'button button-link button-primary', data: {icon: 'k'}
  - if @inquiry.spam
    = link_to "Geen spam", unmark_spam_admin_inquiry_path(@inquiry), method: :put, class: 'button button-link button-primary', data: {icon: 'v'}
= link_to "Terug", :back