= form_for [:admin, @page], multipart: true do |f|

  .table-container.table-form
    %table.table
      %tr
        %td
          %label Titel
        %td
          = f.text_field :title, placeholder: "Titel in de pagina", class: 'large'

      = f.fields_for :page_parts, @page.page_parts.sort { |a,b| a.position <=> b.position } do |page_part_form|
        = page_part_form.hidden_field :name
        = page_part_form.hidden_field :page_partable_type
        = page_part_form.hidden_field :tag

        %tr
          %td
            %label= page_part_form.object
          %td
            - case page_part_form.object.page_partable_type
            - when "Line"
              = page_part_form.text_field :content, placeholder: "Paginsectie #{page_part_form.object.name.downcase}"

            - when "Text"
              = page_part_form.text_area :content, placeholder: "Paginasectie #{page_part_form.object.name.downcase}", class: 'epiceditor'

            - when "Spina::Photo"
              .gallery-select.gallery
                - Spina::Photo.all.each do |photo|
                  .item{class: ('selected' if page_part_form.object.page_partable == photo)}
                    .overlay= page_part_form.radio_button :page_partable_id, photo.id
                    = image_tag photo.file.thumb

            - when "Spina::PhotoCollection"
              = page_part_form.fields_for :page_partable, page_part_form.object.page_partable do |photo_collection_form|                  
                .gallery-select.gallery{data: {multiselect: true}}
                  - Spina::Photo.all.each do |photo|
                    .item{class: ('selected' if photo_collection_form.object.try(:photos).try(:include?, photo) )}
                      .overlay= photo_collection_form.check_box :photo_ids, {multiple: true}, photo.id, nil
                      = image_tag photo.file.thumb, id: "photo_#{photo.id}"

            - when "Spina::File"
              = page_part_form.fields_for :page_partable, page_part_form.object.page_partable do |file_form|
                %fieldset
                  %div{style: 'float: left; min-width: 400px;'}
                    = file_form.file_field :file, data: { customfile: true, placeholder: (file_form.object.new_record? ? "Nog geen bestand geselecteerd" : file_form.object.name) }
                  = link_to "", '#', class: 'remove_field button button-link', data: {icon: 'x'} unless file_form.object.new_record?
                  = file_form.hidden_field :_destroy


            - when "Spina::FileCollection"
              = page_part_form.fields_for :page_partable, page_part_form.object.page_partable do |file_collection_form|
                = file_collection_form.fields_for :files do |file_form|
                  = render 'file_fields', f: file_form

                = link_to_add_fields "Bestand toevoegen", file_collection_form, :files


  .actions
    .button-well
      %button.button.button-primary{type: 'submit', data: {icon: 'v'}}
        Pagina opslaan

    = link_to "Terug naar overzicht", admin_pages_path, class: 'button button-link', data: {icon: '['}

  - unless @page.new_record? || !@page.deletable
    .pull-right= link_to "Definitief verwijderen", admin_page_path(@page), method: :delete, confirm: "Weet je zeker dat je de pagina <strong>#{@page.menu_title}</strong> wilt verwijderen?", class: 'button button-link button-danger'

  = link_to "Geavanceerd", "#", class: "button button-link", data: {icon: '*', collapse: "#advanced", :"no-turbolink" => true}

  #advanced.collapsed
    .table-container.table-form
      %table.table
        %tr
          %td
            %label SEO &lt;title&gt;
          %td
            = f.text_field :seo_title, placeholder: "Deze titel komt in de <title>-tag van de broncode te staan"

        %tr
          %td
            %label SEO Beschrijving
            %small De beschrijving wordt weergegeven bij resultaten van zoekmachines
          %td
            = f.text_field :description, placeholder: "Een korte beschrijving van de pagina"

        %tr
          %td
            %label Naam in hoofdmenu
          %td
            = f.text_field :menu_title, placeholder: "Leeglaten om de titel van de pagina over te nemen"

        %tr
          %td
            %label Weergeven in hoofdmenu
          %td
            = f.check_box :show_in_menu, data: {switch: true}
