- if @page.errors.any?
  - content_for :notification_alert do
    .notification.notification-error{data: {icon: 'm'}}
      %p 
        De pagina kan niet worden opgeslagen
        %small
          - @page.errors.full_messages.each do |msg|
            = msg
            %br/

= form_for [:admin, @page], multipart: true, html: {autocomplete: "off"} do |f|

  #page_content.tab-content.active
    .table-container
      %table.table.table-form
        %tr
          %td
            Titel
          %td
            = f.text_field :title, placeholder: "Titel in de pagina"

        = f.fields_for :page_parts, @page_parts.sort { |a,b| a.position <=> b.position } do |page_part_form|
          %tr
            %td
              = page_part_form.hidden_field :id
              = page_part_form.hidden_field :name
              = page_part_form.hidden_field :page_partable_type
              = page_part_form.hidden_field :tag

              %label= page_part_form.object
            %td
              - case page_part_form.object.page_partable_type
              - when "Line"
                = render partial: "spina/admin/page_partables/line_form", object: page_part_form

              - when "Text"
                = render partial: "spina/admin/page_partables/text_form", object: page_part_form

              - else 
                = render partial: "spina/admin/page_partables/#{page_part_form.object.page_partable_type.demodulize.underscore}_form", object: page_part_form

  #page_seo.tab-content
    .table-container
      %table.table.table-form
        %tr
          %td
            SEO &lt;title&gt;
          %td
            = f.text_field :seo_title, placeholder: "Deze titel komt in de <title>-tag van de broncode te staan"

        %tr
          %td
            SEO Beschrijving
            %small De beschrijving wordt weergegeven bij resultaten van zoekmachines
          %td
            = f.text_field :description, placeholder: "Een korte beschrijving van de pagina"

  #advanced.tab-content
    .table-container
      %table.table.table-form
        %tr
          %td
            Menu titel
          %td
            = f.text_field :menu_title, placeholder: "Leeglaten om de titel van de pagina over te nemen"

        %tr
          %td
            In menu tonen
          %td
            = f.check_box :show_in_menu, data: {switch: true}
        %tr
          %td
            Doorsturen 
            %small Doorsturen naar eerste onderliggende pagina
          %td
            = f.check_box :skip_to_first_child, data: {switch: true}

        - if Spina::Engine.config.use_layout_templates
          %tr
            %td
              Layout template
            %td
              = f.select :layout_template, @valid_layout_templates, template_options(:layout_template, @page)

        - if Spina::Engine.config.use_view_templates
          %tr
            %td
              Pagina template
            %td
              = f.select :view_template, @valid_view_templates, template_options(:view_template, @page)

  %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
    Pagina opslaan
  
  = link_to "Annuleren", admin_pages_path, class: 'button button-link'

  - unless @page.new_record? || !@page.deletable
    .pull-right= link_to "Definitief verwijderen", admin_page_path(@page), method: :delete, confirm: "Weet je zeker dat je de pagina <strong>#{@page.menu_title}</strong> wilt verwijderen?", class: 'button button-link button-danger'
