= form_for [:admin, @page], remote: !@page.new_record?, multipart: true do |f|
  .table-container.table-form
    %table.table
      %tr
        %td
          %label Titel
        %td
          = f.text_field :title, placeholder: "Titel in de pagina", class: 'large'

      = f.fields_for :page_parts do |page_part_builder|
        = page_part_builder.hidden_field :name
        = page_part_builder.hidden_field :content_type
        = page_part_builder.hidden_field :tag

        %tr
          %td
            %label= page_part_builder.object
          %td
            - case page_part_builder.object.content_type
            - when "text"
              = page_part_builder.text_area :content, placeholder: "Paginasectie #{page_part_builder.object.name.downcase}", class: 'epiceditor'

            - when "photo"
              .gallery-select.gallery
                - Spina::Photo.all.each do |photo|
                  .item{class: ('selected' if page_part_builder.object.photo == photo)}
                    .overlay= page_part_builder.radio_button :photo_id, photo.id
                    = image_tag photo.file.thumb

            - when "photos"
              .gallery-select.gallery{data: {multiselect: true}}
                - Spina::Photo.all.each do |photo|
                  .item{class: ('selected' if page_part_builder.object.photos.include? photo)}
                    .overlay= page_part_builder.check_box :photo_ids, {multiple: true}, photo.id, nil
                    = image_tag photo.file.medium.url, id: "photo_#{photo.id}"

            - when "file"
              - placeholder = page_part_builder.object.file.file.filename if page_part_builder.object.file.present?
              = page_part_builder.file_field :file, data: {customfile: true, placeholder: placeholder || "Geen bestand geselecteerd"}

            - when "files"
              = page_part_builder.fields_for :files do |file_builder|
                = render 'file_fields', f: file_builder

              = link_to_add_fields "Bestand toevoegen", page_part_builder, :files

            - when "line"
              = page_part_builder.text_field :content, placeholder: "Paginsectie #{page_part_builder.object.name.downcase}"

  .actions
    .button-well
      %button.button.button-primary{type: 'submit', data: {icon: 'v', disable_with: 'Opslaan...'}}
        Pagina opslaan

    = link_to "Terug naar overzicht", admin_pages_path, class: 'button button-link', data: {icon: '['}

  - unless @page.new_record? || !@page.deletable
    .pull-right= link_to "Definitief verwijderen", admin_page_path(@page), method: :delete, confirm: "Weet je zeker dat je de pagina <strong>#{@page.menu_title}</strong> wilt verwijderen?", class: 'button button-link button-danger'

  = link_to "Geavanceerd", "#", class: "button button-link", data: {icon: '*', collapse: "#advanced", :"no-turbolink" => true}

  #advanced.collapsed
    .table-container.table-form
      %table.table
        %tr
          %td
            %label SEO &lt;title&gt;
          %td
            = f.text_field :seo_title, placeholder: "Deze titel komt in de <title>-tag van de broncode te staan"

        %tr
          %td
            %label SEO Beschrijving
            %small De beschrijving wordt weergegeven bij resultaten van zoekmachines
          %td
            = f.text_field :description, placeholder: "Een korte beschrijving van de pagina"

        %tr
          %td
            %label Naam in hoofdmenu
          %td
            = f.text_field :menu_title, placeholder: "Leeglaten om de titel van de pagina over te nemen"

        %tr
          %td
            %label Weergeven in hoofdmenu
          %td
            = f.check_box :show_in_menu, data: {switch: true}
