= form_for [:admin, @page] do |f|
  .table-container.table-form
    %table.table
      %tr
        %td
          %label Titel
        %td
          - if @page.deletable
            = f.text_field :title, placeholder: "Titel in de pagina", class: 'large'
          - else
            %strong= @page

      %tr
        %td
          %label Beschrijving
          %small De beschrijving wordt weergegeven bij resultaten van zoekmachines
        %td
          = f.text_field :description, placeholder: "Een korte beschrijving van de pagina"

      = f.fields_for :page_parts do |page_part_builder|
        = page_part_builder.hidden_field :name
        = page_part_builder.hidden_field :content_type
        = page_part_builder.hidden_field :tag

        %tr
          %td
            %label= page_part_builder.object
          %td
            - case page_part_builder.object.content_type
            - when "text"
              = page_part_builder.text_area :content, placeholder: "Paginasectie #{page_part_builder.object.name.downcase}", class: 'epiceditor'
            - when "photo"
              .gallery-select
                - Photo.all.each do |photo|
                  .item{class: ('selected' if page_part_builder.object.photo == photo)}
                    = page_part_builder.radio_button :photo_id, photo.id
                    = image_tag photo.file.thumb
            - when "line"
              = page_part_builder.text_field :content, placeholder: "Paginsectie #{page_part_builder.object.name.downcase}"

  .actions
    .button-well
      %button.button.button-primary{type: 'submit', data: {icon: 'v'}}
        Pagina opslaan

    = link_to "Terug naar overzicht", admin_pages_path, class: 'button button-link', data: {icon: '['}

  - unless @page.new_record? || !@page.deletable
    .pull-right= link_to "Definitief verwijderen", admin_page_path(@page), method: :delete, confirm: "Weet je zeker dat je de pagina <strong>#{@page}</strong> wilt verwijderen?", class: 'button button-link button-danger'

  = link_to "Geavanceerd", "#", class: "button button-link", data: {icon: '*', collapse: "#advanced", :"no-turbolink" => true}

  #advanced.collapsed
    .table-container.table-form
      %table.table
        %tr
          %td
            %label Naam in hoofdmenu
          %td
            = f.text_field :menu_title, placeholder: "Leeglaten om de titel van de pagina over te nemen"

        %tr
          %td
            %label Weergeven in hoofdmenu
          %td
            = f.check_box :show_in_menu, data: {switch: true}
