%li{id: "page_#{page.id}"}
  %div
    %table{style: 'width: 100%'}
      %tr
        %td
          = link_to edit_admin_page_path(page), class: 'button button-plain-link' do
            = page.menu_title
            - unless page.show_in_menu
              %small (niet zichtbaar in menu)
        %td{style: 'text-align: right; padding-right: 32px'}
          = link_to "Bewerken", edit_admin_page_path(page), class: 'button button-plain', data: {icon: 'p'}
  %ol
    = render partial: 'page', collection: page.children.sorted