.well
  %h1 Pagina's

.sortable-list-container
  %ol.sortable{data: {:"update-url" => sort_admin_pages_url }}
    - @pages.each do |page|
      %li{id: "page_#{page.id}"}
        %div= link_to page, edit_admin_page_path(page)
        %ol
          - page.pages.each do |child_page|
            %li{id: "page_#{child_page.id}"}
              %div= link_to child_page, edit_admin_page_path(child_page)

.actions
  .button-well
    = link_to "Nieuwe pagina", new_admin_page_path, class: 'button button-primary', data: {icon: '&'}
