.well
  %h1 Alle berichten

.table-container
  %table.table
    %thead
      %tr
        %th Afzender
        %th Bericht
        %th{colspan: 2}

    %tbody
      - if @new_messages.present?
        - @inquiries.each do |inquiry|
          %tr
            %td
              %p 
                %strong= inquiry.name
                = "<#{inquiry.email}>"
            %td
              %p= inquiry.message
            %td 
              %small=l inquiry.created_at, format: '%e %B %Y %H:%M'
            %td= link_to "Verwijderen", inquiry, method: :delete, class: 'button button-danger button-link', confirm: "Weet je zeker dat je het bericht van <strong>#{inquiry.name}</strong> definitief wilt verwijderen?"
      - else
        %tr
          %td.align-center{colspan: 3}
            %em Je hebt nog geen berichten ontvangen.
