%nav#primary
  %ul
    %li{class: ('active' if %w[spina/pages spina/photos].include? params[:controller])}
      = link_to "Je website", pages_path, data: {icon: 'b'}

    - if can? :manage, Spina::User
      %li{class: ('active' if %w[spina/users].include? params[:controller])}
        = link_to "Gebruikers", users_path, data: {icon: 'U'}

    %li{class: ('active' if %w[spina/page_parts spina/accounts].include? params[:controller])}
      = link_to "Voorkeuren", edit_account_path, data: {icon: 'y'}

.pull-right
  .button-well.button-well-dark{data: {dropdown: true}}
    - if @new_messages.present?
      = link_to "Berichten", "#", class: 'button button-dark', data: {icon: 'M', badge: "#{@new_messages.size}", trigger: 'dropdown'}
    - else
      = link_to "Berichten", inquiries_path, class: 'button button-dark', data: {icon: 'M'}
      
    %ul
      - if @new_messages.present?
        %li
          = link_to inbox_inquiries_path, data: {icon: 'I'} do
            %strong= t('misc.messages', count: @new_messages.size)

      %li
        = link_to inquiries_path, data: {icon: 'J'} do
          Bekijk 
          %strong alle
          berichten

  .button-well.button-well-dark
    .button-group
      = link_to "Bekijk website", root_path, class: 'button button-dark', data: {icon: 'e', :"no-turbolink" => true}
      = link_to "", logout_path, class: 'button button-dark icon-only', data: {icon: 'Q', :"no-turbolink" => true}
