!!!
%html{lang: 'nl'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    %meta{description: @page.description}
    = csrf_meta_tags
    
    %title= "#{current_account} - #{@page.title}"

    = stylesheet_link_tag "http://fnt.webink.com/wfs/webink.css/?project=E89BA966-542E-4292-A3FC-7ECB0CE975B5&fonts=1B6C2E6C-BB21-53D3-2175-C814D91AD16C:f=Aller-Bold,4CBDE851-0AF2-44DB-3CF2-E98003E8D12E:f=SkolarBasicXB-Extrabold,9C5DF801-C745-E177-908F-369BCECD52B7:f=Aller-Italic,C7662775-65E4-3DE5-DE19-D61377E1BE79:f=Aller-Light,A504D07C-783E-0F85-8B38-EFB57612CD7B:f=AllerDisplay-Regular,4F449915-A3A8-CF9A-BB23-D64A3A9C1A7A:f=SkolarWeb-Italic,981E007E-BE6B-4E01-68D4-E6BFF0CC4139:f=SkolarBasicLt-Italic,BA035607-6CEF-91EE-45AA-C22E5D831064:f=SkolarBasicLt-Regular,880096C9-42EC-CFB6-C094-7540101C8F7B:f=Aller-BoldItalic,E3E82DBC-87D6-BA5B-D745-2846E3AA460D:f=SkolarWeb,2793B463-660E-EB93-33EC-F2840A3A15BF:f=SkolarWeb-BoldItalic,32A3E230-3101-A662-F6D5-D8B9D0A38A5B:f=Aller-Regular,7B1CD6EE-8522-04D2-8897-740DE026DA7B:f=SkolarBasicXB-ExtraboldItalic,E91036C1-9B3E-398B-6BC8-3F30F4412BFB:f=SkolarWeb-Bold,521D5111-7D3C-B8EC-88B6-BBED2BE5F224:f=Aller-LightItalic", media: 'all'
    = stylesheet_link_tag "spina/application", media: 'all'
    = javascript_include_tag "spina/application"

  %body
    #wrapper
      = render 'spina/shared/admin_bar'

      #container.wrapper
        %header#header
          .row
            = link_to root_url
              
            .address
              %table
                %tbody
                  - if phone = current_account.phone
                    %tr
                      %td Telefoon
                      %td= phone

                  - if email = current_account.email
                    %tr
                      %td Email
                      %td= link_to email, email

                  - if address = current_account.address
                    %tr
                      %td Adres
                      %td
                        = address
                        %br/
                        = [current_account.postal_code, current_account.city].join(", ")

          %nav#primary.primary-background
            = link_to "Open/sluit navigatie", "#", id: 'nav-toggle', data: {toggle: 'navigation'}
            = render 'spina/shared/navigation'

        #main_content
          = yield

        %footer#footer.row
          .column.half
            %h3 Navigatie
            = render 'spina/shared/navigation'

          .column.quarter

          .column.quarter
            %h3 Social media
            = render 'spina/shared/social'

          .column.quarter
            %h3 Contactgegevens
            
            - if address
              %p
                = address
                %br/
                = [current_account.postal_code, current_account.city].join(", ")

            - if phone
              %p= phone

    = render 'spina/shared/analytics'