!!!
%html{lang: 'nl'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    %meta{description: @page.description}
    = csrf_meta_tags
    
    %title= "#{current_account} - #{@page.title}"

    = stylesheet_link_tag "spina/application", media: 'all'
    = javascript_include_tag "spina/application"

  %body
    = render 'spina/shared/admin_bar'
    = render 'spina/shared/navigation'
    = yield
    = render 'spina/shared/analytics'