!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    = csrf_meta_tags

    %title denkWebsite

    / Stylesheet
    %link{rel: 'stylesheet', href: '//get.pictos.cc/fonts/3462/2'}
    = stylesheet_link_tag "spina/application"

    /[if lt IE 9]
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"

    / JavaScript
    = javascript_include_tag "http://feather.aviary.com/js/feather.js"
    = javascript_include_tag "spina/application"

  %body
    #login_wrapper
      = yield

    %a#denkgroot{href: 'http://www.denkgroot.com', target: '_blank'} een idee van denkGroot
