%nav#primary
  %ul
    %li
      = link_to "Dashboard", "#", data: {icon: 'g'}

    %li{class: ('active' if %w[pages photos].include? controller_name)}
      = link_to "Je website", admin_pages_path, data: {icon: 'q'}

    - if can? :manage, Spina::User
      %li{class: ('active' if %w[users].include? controller_name)}
        = link_to "Gebruikers", admin_users_path, data: {icon: 'i'}

    %li{class: ('active' if %w[inquiries].include? controller_name)}
      - if @new_messages.present?
        = link_to "Berichten", admin_inquiries_path, data: {icon: 's', badge: "#{@new_messages.size}"}
      - else
        = link_to "Berichten", admin_inquiries_path, data: {icon: 's'}

    %li{class: ('active' if %w[account].include? controller_name)}
      = link_to "Voorkeuren", edit_admin_account_path, data: {icon: 'f'}

    %li.bottom
      = link_to "", admin_logout_path, data: {icon: 'h', :"no-turbolink" => true}
