= form_for @inquiry, remote: true do |f|
  %table
    %tbody
      %tr
        %td Naam
        %td 
          = f.text_field :name, placeholder: "Naam"
      %tr
        %td Email
        %td
          = f.text_field :email, placeholder: "Email"
      %tr
        %td Bericht
        %td
          = f.text_area :message, placeholder: "Bericht"

      %tr
        %td
        %td
          = submit_tag "Verstuur bericht", class: 'button'
          %small.pull-right Alle velden zijn verplicht
