= form_for @page_part do |f|
  .table-container.table-form
    %table.table
      %tr
        %td
          %label Naam
        %td
          = f.text_field :name, placeholder: "Naam van de paginasectie", class: 'large'

      %tr
        %td
          %label Tag
        %td
          = f.text_field :tag, placeholder: "Tag voor het gebruik in de template"

      %tr
        %td
          %label Type paginasectie
        %td
          = f.select :content_type, Spina.page_part_types.map { |type| [I18n.t(type), type]}, placeholder: "Naam van de paginasectie", class: 'large'

  .actions
    .button-well
      %button.button.button-primary{type: 'submit', data: {icon: 'v'}}
        Paginasectie opslaan

    = link_to "Terug naar overzicht", page_parts_path, class: 'button button-link', data: {icon: '['}

  - unless @page_part.new_record?
    .pull-right= link_to "Definitief verwijderen", @page_part, method: :delete, confirm: "Als je #{@page_part.name.downcase} verwijdert is deze ook niet meer beschikbaar op je pagina's. <br /><br /><strong>Weet je het zeker?</strong>", class: 'button button-link button-danger'