.well
  %h1 Paginasecties

.table-container
  %table.table.sortable
    %thead
      %tr
        %th Naam
        %th Tag
        %th

    %tbody{data: {:"update-url" => sort_page_parts_url }}
      - @page_parts.each do |page_part|
        %tr{id: "page_part_#{page_part.id}"}
          - case page_part.content_type
          - when 'text' 
            - icon = 'F'
          - when 'line' 
            - icon = 'p'
          - else 
            - icon = 'a'

          %td= link_to page_part, edit_page_part_path(page_part), data: {icon: icon}, class: 'large-icon'
          %td= ":#{page_part.tag}"
          %td= link_to "Bewerken", edit_page_part_path(page_part), class: 'button button-plain', data: {icon: 'p'}

.actions
  .button-well
    = link_to "Nieuwe paginasectie", new_page_part_path, class: 'button button-primary', data: {icon: '&'}