= form_for [:admin, @user] do |f|
  .table-container.table-form
    %table.table
      %tr
        %td
          %label Naam
        %td
          = f.text_field :name, placeholder: "Naam van de gebruiker", class: 'large'

      %tr
        %td
          %label Emailadres
          %small Gebruik een uniek emailadres
        %td
          = f.text_field :email, placeholder: "Emailadres"

      %tr
        %td
          %label Wachtwoord
          %small Leeglaten om niet te veranderen
        %td
          = f.password_field :password, placeholder: "Wachtwoord"

      %tr
        %td
          %label Bevestig wachtwoord
        %td
          = f.password_field :password_confirmation, placeholder: "Bevestig wachtwoord"

      %tr
        %td
          %label Beheerder?
          %small Beheerders kunnen gebruikers aanmaken
        %td
          = f.check_box :admin, data: {switch: 'true'}

  .actions
    .button-well
      %button.button.button-primary{type: 'submit', data: {icon: 'v'}}
        Gebruiker opslaan

    = link_to "Terug naar overzicht", admin_users_path, class: 'button button-link', data: {icon: '['}

  - unless @user.new_record? || @user == current_user
    .pull-right= link_to "Definitief verwijderen", admin_user_path(@user), method: :delete, confirm: "Weet je zeker dat je de gebruiker <strong>#{@user}</strong> wilt verwijderen?", class: 'button button-link button-danger'
